<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/about.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header>
        <div class="header-content">
            <!-- <img src="https://raw.githubusercontent.com/reactjs/redux/master/logo/logo.png" alt="header-logo"
                class='header-logo animate-pop-in' /> -->
            <h1 class='header-title animate-pop-in'>PIXEL PANORAMA</h1>
            <h3 class='header-subtitle animate-pop-in'>Discover, Create, Inspire:</h3>
            <h3 class='header-info animate-pop-in'>Your World of Ideas 📌✨ </h3>
            <p></p>
        </div>
    </header>
    <div class="about-container content">
        <section>
            <h1>About Pixel Panorama: Explore, Discover, and Create!</h1>
            <p>Welcome to Pixel Panorama, your ultimate destination for inspiration and creativity. 🌟

                At Pixel Panorama, we believe in the power of ideas to transform lives. Whether you're planning your dream
                home, putting together a delicious recipe, or seeking the latest fashion trends, Pixel Panorama is your go-to
                source for discovery and inspiration.</p>
        </section>
        <section>
            <h1>📌 What Sets Us Apart:</h1>
            <ul>
                <li class="list"><strong>Endless Inspiration:</strong> Immerse yourself in a world of ideas across
                    diverse categories
                    – from home decor to travel destinations, DIY projects to fashion trends. Discover content tailored
                    just for you!</li>
                <li class="list"><strong>Create and Share: </strong> Unleash your creativity! Save, organize, and share
                    ideas by
                    creating your own personalized boards. Pin your favorite finds and inspire others along the way.
                </li>
                <li class="list"><strong>Shopping Made Easy</strong> Explore shoppable pins and turn your dreams into
                    reality. Find
                    unique products and discover new brands as you shop directly from your favorite Pins.</li>
            </ul>
        </section>
        <section>
            <h1>🤝 Join Our Community:</h1>
            <p>Connect with like-minded individuals and creators who share your passions. Follow boards, leave comments,
                and be part of a supportive community that encourages you to bring your ideas to life.</p>
        </section>
        <section class="last-section">
            <h1>📱 Stay Connected:</h1>
            <p>Download the Pixel Panorama app and carry your inspiration with you wherever you go. Your next idea is just a
                pin away!

                Ready to embark on a journey of creativity and discovery? Join Pixel Panorama today and let your ideas
                flourish! ✨</p>
        </section>
    </div>

    <!-- <footer>
        Made by <a href="#">Pixel Panorama</a>
    </footer> -->


    <!-- Nav Bar -->

    <div class="container-bar">
            <ul class="nav-bar">
                <a href="/profile" class="route"><li class="nav-item"><i class="fa-solid fa-house"></i>Home</li></a>
                <a href="/About" class="route"><li class="nav-item active"><i class="fa-solid fa-info"></i>About</li></a>
                <a href="/create" class="route"><li class="nav-item"><i class="fa-solid fa-plus"></i>Create</li></a>
                <a href="/logout" class="route"><li class="nav-item"><i class="fa-solid fa-right-from-bracket"></i>Log out</li></a>
            </ul>
    </div>

    <!-- END -->

</body>


</html>